In [2]:
import pandas as pd
pd.options.display.max_columns = 100

In [3]:
muts_df = pd.read_pickle("./data/4_7_df.pkl")
muts_df.shape

(2641, 45)

In [4]:
cond_cnt_d = {"none": 0}
feat_cnt = 0
for _, mut in muts_df.iterrows():
    for feat in mut["genomic features"]:
        feat_cnt += 1
        if len(feat["significantly associated conditions"]) > 0:
            for cond in feat["significantly associated conditions"]:
                if cond in cond_cnt_d.keys():                   
                    cond_cnt_d[cond] += 1
                else:
                    cond_cnt_d[cond] = 1
        else:
            cond_cnt_d["none"] += 1

cond_cnt_d

{'none': 2412,
 'glucose(4)': 229,
 'NaCl(0.5g/L) trace elements': 376,
 '42 celsius': 64,
 'U-13C glucose(2)': 27,
 'Δpts': 34,
 'GMOS': 9,
 'Δgnd': 20,
 'Δpgi': 133,
 'Δsdh': 23,
 'Δtpi': 45,
 'glycerol(2.5)': 92,
 'glucose(2)': 1168,
 '20uM FeSO4 and 10mM sodium citrate': 18,
 'D-2-deoxyribose': 41,
 'D-arabinose': 13,
 'D-lyxose': 18,
 'm-tartrate': 16,
 'monomethyl succinate': 18,
 'ΔsdaA ΔsdaB ΔtdcG ΔglyA': 23,
 "glycine(2mM)  L-Serine(varying concentration)  trace elements(X1)  Wolfe's vitamin solution.": 23,
 'acetate(4)': 21,
 'glucose(4) or acetate(4)': 50,
 'glucose(4) or glycerol(2.5)': 18,
 'glucose(4) or xylose(4)': 31,
 'xylose(4)': 9,
 '2 3-butanediol': 89,
 'adipic acid': 38,
 'coumaric acid': 44,
 'glutaric acid': 37,
 'hexamethylenediamine': 10,
 'hexanoic acid': 44,
 'isobutyric acid': 17,
 'n-butanol': 67,
 'octanoic acid': 17,
 'propanediol': 4,
 'putrescine': 31}

In [5]:
import pickle
f = open("./data/signif_genomic_feat_cond_json.pkl", 'rb')   
signif_genomic_feat_cond_json = pickle.load(f)
signif_genomic_feat_cond_json[0:5]

[{'mutated features': 'ackA',
  'condition': 'Δpgi',
  'odd ratio': 19.76830318690784,
  'p value': 0.005611374257331419},
 {'mutated features': 'actP',
  'condition': 'D-lyxose',
  'odd ratio': 91.47619047619048,
  'p value': 0.0002902952921727443},
 {'mutated features': 'aldA TFBS',
  'condition': 'D-2-deoxyribose',
  'odd ratio': 11.347999005717126,
  'p value': 1.3022780635838894e-06},
 {'mutated features': 'araA',
  'condition': 'Δpts',
  'odd ratio': 101.02921840759679,
  'p value': 5.816691914618809e-06},
 {'mutated features': 'araC',
  'condition': 'D-arabinose',
  'odd ratio': 122.005291005291,
  'p value': 0.0001667390157604181}]

In [6]:
def get_signif_mut_conds(feat_name):
    signif_mut_conds = []
    for signif_mut_cond in signif_genomic_feat_cond_json:
        if signif_mut_cond['mutated features'] == feat_name:
            signif_mut_conds.append(signif_mut_cond)
    return signif_mut_conds
    
    

cond_mut_feat_assoc_df = pd.DataFrame()
for _, mut in muts_df.iterrows():
    for feat in mut["genomic features"]:
        signif_mut_conds = get_signif_mut_conds(feat["name"])
        for d in signif_mut_conds:
            cond_mut_feat_assoc_df = cond_mut_feat_assoc_df.append(d, ignore_index=True)
            
            
cond_mut_feat_assoc_df = cond_mut_feat_assoc_df.drop_duplicates()
cond_mut_feat_assoc_df.head()

,condition,mutated features,odd ratio,p value
0,NaCl(0.5g/L) trace elements,rph-pyrE attenuator terminator,1.562008,1.464494e-04
1,U-13C glucose(2),rph-pyrE attenuator terminator,5.779091,2.707680e-03
2,glucose(4),rph-pyrE attenuator terminator,2.900920,2.577622e-10
3,glucose(4) or acetate(4),rph-pyrE attenuator terminator,3.985989,1.486917e-03
4,glucose(4) or glycerol(2.5),rph-pyrE attenuator terminator,8.545092,5.791925e-04

In [11]:
for cond, df in cond_mut_feat_assoc_df.groupby(["condition"]):
    display(cond, df.sort_values(by="odd ratio", ascending=False))

'2 3-butanediol'

           condition            mutated features  odd ratio       p value
3688  2 3-butanediol                        metJ  22.053391  1.426082e-10
3677  2 3-butanediol                      relAp4  21.607345  6.495847e-06
3680  2 3-butanediol                      relAp1  21.607345  6.495847e-06
3686  2 3-butanediol                        nanK  21.607345  6.495847e-06
3674  2 3-butanediol             relA-mazEF TFBS  21.607345  6.495847e-06
3675  2 3-butanediol  relA-mazEF relA-mazEF TFBS  21.607345  6.495847e-06
3676  2 3-butanediol                      relAp2  21.607345  6.495847e-06
3682  2 3-butanediol                        rlmD  21.607345  6.495847e-06
3678  2 3-butanediol                      relAp3  21.607345  6.495847e-06
3679  2 3-butanediol                       rlmDp  21.607345  6.495847e-06
3749  2 3-butanediol                  umuDC TFBS  21.348675  4.843509e-03
3750  2 3-butanediol                       umuDp  21.348675  4.843509e-03
3446  2 3-butanediol                        gudD  17.674884  1.604826e-05
2573  2 3-butanediol                        purT  15.824612  4.130513e-06
203   2 3-butanediol                        barA  12.955932  6.489837e-05
3444  2 3-butanediol                        relA  12.600330  1.082794e-07
3485  2 3-butanediol                   nmpC TFBS   9.248184  2.910606e-04

'20uM FeSO4 and 10mM sodium citrate'

,condition,mutated features,odd ratio,p value
2085,20uM FeSO4 and 10mM sodium citrate,insA-5/uspC,76.406302,4.494741e-07
2089,20uM FeSO4 and 10mM sodium citrate,oxyR,76.406302,4.494741e-07
2110,20uM FeSO4 and 10mM sodium citrate,yoeG,74.220612,4.349383e-04
2068,20uM FeSO4 and 10mM sodium citrate,flhDC TFBS,3.253565,5.184142e-03

'42 celsius'

      condition            mutated features  odd ratio   p value
111  42 celsius                csgDEFG TFBS  22.276080  0.000050
70   42 celsius                        mlaE  22.183575  0.000465
127  42 celsius               isrC-flu TFBS  22.091871  0.004536
129  42 celsius                        isrC  22.091871  0.004536
145  42 celsius                   ybfK/kdpE  22.091871  0.004536
143  42 celsius                        yjjI  22.091871  0.004536
142  42 celsius                    pgi/yjbE  22.091871  0.004536
139  42 celsius                   tisB/emrD  22.091871  0.004536
138  42 celsius                        dnaQ  22.091871  0.004536
137  42 celsius  cas3 attenuator terminator  22.091871  0.004536
135  42 celsius                        yffS  22.091871  0.004536
134  42 celsius                   yffP/yffQ  22.091871  0.004536
131  42 celsius                        yehQ  22.091871  0.004536
130  42 celsius                        yehC  22.091871  0.004536
172  42 celsius                    nth/dtpA  22.091871  0.004536
128  42 celsius                        flup  22.091871  0.004536
21   42 celsius                        yrhA  22.091871  0.004536
126  42 celsius                        hrpB  22.091871  0.004536
125  42 celsius                        araG  22.091871  0.004536
124  42 celsius                        ydgC  22.091871  0.004536
123  42 celsius                   dmsD/clcB  22.091871  0.004536
122  42 celsius                   ynaE/ttcC  22.091871  0.004536
41   42 celsius                        secD  22.091871  0.004536
22   42 celsius                        yhhZ  22.091871  0.004536
19   42 celsius                         rne  18.298246  0.000014
69   42 celsius                       mprAp  13.412865  0.000055
46   42 celsius                        yfdI   7.770186  0.007830

'D-2-deoxyribose'

            condition        mutated features  odd ratio       p value
2229  D-2-deoxyribose              gadBC TFBS  11.371201  2.821400e-07
2238  D-2-deoxyribose               aldA TFBS  11.347999  1.302278e-06
2226  D-2-deoxyribose  gadBC gadBC gadBC TFBS  11.256221  6.419243e-04
2228  D-2-deoxyribose               feaR TFBS  11.256221  6.419243e-04
2235  D-2-deoxyribose     paaABCDEFGHIJK TFBS  11.256221  6.419243e-04
2230  D-2-deoxyribose                trg TFBS  11.233530  3.165926e-03
2231  D-2-deoxyribose             fdnGHI TFBS  11.233530  3.165926e-03
2233  D-2-deoxyribose      fdnGHI fdnGHI TFBS  11.233530  3.165926e-03
2240  D-2-deoxyribose          safA-ydeO TFBS  11.233530  3.165926e-03

'D-arabinose'

        condition mutated features   odd ratio   p value
2299  D-arabinose             araC  122.005291  0.000167
2385  D-arabinose             gcvH  122.005291  0.000167
2303  D-arabinose             clpA  119.191214  0.009488
2327  D-arabinose             fucR   91.164799  0.000008
2086  D-arabinose             gatC    5.938330  0.002332

'D-lyxose'

     condition mutated features  odd ratio       p value
2470  D-lyxose             yihS  94.827160  1.978630e-07
2472  D-lyxose             yihW  91.476190  2.902953e-04
2481  D-lyxose             actP  91.476190  2.902953e-04
241   D-lyxose             rhsE  19.809896  5.464224e-10

'GMOS'

    condition mutated features   odd ratio   p value
600      GMOS            cyoAp  366.317460  0.003244
602      GMOS             ydfV  366.317460  0.003244
605      GMOS             parC  366.317460  0.003244
624      GMOS             wecE  366.317460  0.003244
625      GMOS             rplL  366.317460  0.003244
591      GMOS           ilvG_1  173.481203  0.006478
601      GMOS             cysB  113.635468  0.009702
603      GMOS             glnD  113.635468  0.009702
623      GMOS              rfe  113.635468  0.009702

'NaCl(0.5g/L) trace elements'

,condition,mutated features,odd ratio,p value
242,NaCl(0.5g/L) trace elements,rhsE,2.170537,0.000003
1809,NaCl(0.5g/L) trace elements,glpK,2.162180,0.000103
465,NaCl(0.5g/L) trace elements,cyaA,2.158561,0.000528
1821,NaCl(0.5g/L) trace elements,crr,2.152919,0.007330
775,NaCl(0.5g/L) trace elements,icd,2.108699,0.000028
9,NaCl(0.5g/L) trace elements,rph,1.913338,0.000004
283,NaCl(0.5g/L) trace elements,rpoB,1.617209,0.000453
0,NaCl(0.5g/L) trace elements,rph-pyrE attenuator terminator,1.562008,0.000146

'U-13C glucose(2)'

,condition,mutated features,odd ratio,p value
271,U-13C glucose(2),psuG,134.888889,8.414009e-03
273,U-13C glucose(2),nirC,134.888889,8.414009e-03
377,U-13C glucose(2),hemAp1,134.888889,8.414009e-03
380,U-13C glucose(2),ycjV,134.888889,8.414009e-03
411,U-13C glucose(2),yfjR,134.888889,8.414009e-03
243,U-13C glucose(2),rhsE,32.802443,7.970500e-12
202,U-13C glucose(2),hns TFBS,21.082455,4.659595e-03
284,U-13C glucose(2),rpoB,8.282061,5.761270e-04
1,U-13C glucose(2),rph-pyrE attenuator terminator,5.779091,2.707680e-03

'acetate(4)'

       condition mutated features   odd ratio       p value
2987  acetate(4)             tnaA  213.546296  7.159759e-07
2985  acetate(4)              glf  197.196581  5.831895e-03
2986  acetate(4)            ebgAp  197.196581  5.831895e-03
2991  acetate(4)             fimA  197.196581  5.831895e-03
2992  acetate(4)             flgD  197.196581  5.831895e-03
2993  acetate(4)        cspC/yobF  197.196581  5.831895e-03
2994  acetate(4)             yegJ  197.196581  5.831895e-03
3012  acetate(4)             rsmC  197.196581  5.831895e-03
3013  acetate(4)             ybjT  197.196581  5.831895e-03
2984  acetate(4)             fliK  122.622340  3.429597e-06
88    acetate(4)              rho   34.420659  1.343325e-04
776   acetate(4)              icd   19.120819  1.002932e-04

'adipic acid'

        condition mutated features  odd ratio   p value
3983  adipic acid             ybjL  31.334015  0.000001
4006  adipic acid        nrdF/proV  30.785810  0.002394
3240  adipic acid             yicC  19.786575  0.005352
4007  adipic acid             sspA  12.468114  0.002165
2054  adipic acid             kgtP  10.313063  0.000002
4190  adipic acid             proV   7.169481  0.002861
2069  adipic acid       flhDC TFBS   2.332561  0.004717

'coumaric acid'

,condition,mutated features,odd ratio,p value
4344,coumaric acid,atpI/rsmG,19.460560,6.763465e-04
4381,coumaric acid,mprA-emrAB TFBS,19.390368,5.822158e-03
3484,coumaric acid,nadR,16.034965,2.528719e-05
4189,coumaric acid,proVWX TFBS,15.733631,8.496643e-11
2988,coumaric acid,rhoL-rho terminator,13.565089,5.348123e-05
1754,coumaric acid,mprA,11.174598,3.000742e-03
4356,coumaric acid,yafY-ykfBF-yafX-ykfGH-yafW-ykfI attenuator ter...,9.212133,5.023371e-03
89,coumaric acid,rho,7.615542,6.140734e-05
4360,coumaric acid,manY,6.050865,5.175708e-03

'glucose(2)'

       condition mutated features  odd ratio       p value
5976  glucose(2)             rrlH   2.024320  7.913906e-03
4191  glucose(2)             proV   2.023892  9.779286e-03
992   glucose(2)             spoT   1.912849  8.877832e-03
2397  glucose(2)           insH21   1.876478  3.331216e-04
2399  glucose(2)           oppA5'   1.876478  3.331216e-04
2070  glucose(2)       flhDC TFBS   1.842387  3.507781e-11
2055  glucose(2)             kgtP   1.831315  9.531257e-03
2066  glucose(2)            insA9   1.814223  2.885805e-06
2067  glucose(2)              crl   1.814223  2.885805e-06
2080  glucose(2)          insA-5p   1.814223  2.885805e-06
2081  glucose(2)           flhDp2   1.814223  2.885805e-06
2082  glucose(2)           insA-5   1.814223  2.885805e-06
2084  glucose(2)           insB-5   1.814223  2.885805e-06
2065  glucose(2)            insB9   1.814223  2.885805e-06
2083  glucose(2)          insAB-5   1.814223  2.885805e-06
2088  glucose(2)             glpR   1.746791  9.816650e-06
2090  glucose(2)        gltP/yjcO   1.625687  8.622107e-05
2087  glucose(2)             gatC   1.611785  1.004874e-04

'glucose(4)'

       condition                mutated features  odd ratio       p value
1186  glucose(4)                            rrfB   6.700355  5.298493e-05
1180  glucose(4)                            pstC   6.700355  5.298493e-05
688   glucose(4)                           sulAp   6.685234  4.583857e-04
544   glucose(4)                            galR   6.677704  1.369176e-03
1159  glucose(4)                            ptsG   6.677704  1.369176e-03
439   glucose(4)                            rcsB   6.677704  1.369176e-03
445   glucose(4)                            yrfF   6.677704  1.369176e-03
478   glucose(4)                            glkp   6.670194  4.157568e-03
1197  glucose(4)                            nemR   6.670194  4.157568e-03
1126  glucose(4)                          insH-6   6.670194  4.157568e-03
1385  glucose(4)                            sucA   6.670194  4.157568e-03
476   glucose(4)                           glkp1   6.670194  4.157568e-03
112   glucose(4)                    csgDEFG TFBS   6.670194  4.157568e-03
1183  glucose(4)                            pstA   5.881941  1.227116e-04
140   glucose(4)      ilvLXG_1G_2MEDA terminator   5.462372  3.085383e-03
20    glucose(4)                             rne   5.462372  3.085383e-03
10    glucose(4)                             rph   4.739798  7.270137e-18
285   glucose(4)                            rpoB   3.491440  2.860884e-11
2     glucose(4)  rph-pyrE attenuator terminator   2.900920  2.577622e-10

'glucose(4) or acetate(4)'

,condition,mutated features,odd ratio,p value
334,glucose(4) or acetate(4),ptsP,30.236842,9.656015e-09
3245,glucose(4) or acetate(4),sapD,28.517028,2.612170e-03
777,glucose(4) or acetate(4),icd,21.581011,6.321647e-14
2571,glucose(4) or acetate(4),yobF,14.034188,1.547009e-03
244,glucose(4) or acetate(4),rhsE,13.782936,2.328116e-09
17,glucose(4) or acetate(4),rpoC,5.095995,3.902647e-03
3,glucose(4) or acetate(4),rph-pyrE attenuator terminator,3.985989,1.486917e-03

'glucose(4) or glycerol(2.5)'

,condition,mutated features,odd ratio,p value
3335,glucose(4) or glycerol(2.5),tauD,189.888889,0.006047
3340,glucose(4) or glycerol(2.5),leuP,189.888889,0.006047
3341,glucose(4) or glycerol(2.5),yajQ,189.888889,0.006047
3342,glucose(4) or glycerol(2.5),ybcM/ylcH,189.888889,0.006047
3349,glucose(4) or glycerol(2.5),glpEGR terminator,189.888889,0.006047
3350,glucose(4) or glycerol(2.5),rtcR,189.888889,0.006047
3386,glucose(4) or glycerol(2.5),sdaA,189.888889,0.006047
1810,glucose(4) or glycerol(2.5),glpK,16.816514,0.001038
245,glucose(4) or glycerol(2.5),rhsE,11.252156,0.003193
4,glucose(4) or glycerol(2.5),rph-pyrE attenuator terminator,8.545092,0.000579

'glucose(4) or xylose(4)'

                    condition mutated features  odd ratio   p value
3442  glucose(4) or xylose(4)             intA  19.316498  0.005865
3451  glucose(4) or xylose(4)             garL  19.316498  0.005865
3453  glucose(4) or xylose(4)         mtr TFBS  19.316498  0.005865
3475  glucose(4) or xylose(4)             leuT  19.316498  0.005865
194   glucose(4) or xylose(4)        gltT/rrlB  15.223365  0.000201
3448  glucose(4) or xylose(4)             glnE  14.143562  0.001595
3486  glucose(4) or xylose(4)        nmpC TFBS   8.357781  0.000457
189   glucose(4) or xylose(4)             rhsB   7.629352  0.000679
3445  glucose(4) or xylose(4)             relA   7.334936  0.000247

'glutaric acid'

          condition mutated features  odd ratio       p value
2056  glutaric acid             kgtP  12.803480  1.551996e-10
174   glutaric acid              rnt  12.470988  4.042969e-04
993   glutaric acid             spoT  12.331080  5.459156e-09
4192  glutaric acid             proV   5.265839  8.231768e-03
42    glutaric acid             nagC   4.577377  5.773686e-03

'glycerol(2.5)'

,condition,mutated features,odd ratio,p value
1811,glycerol(2.5),glpK,31.520690,2.287346e-32
1862,glycerol(2.5),mstA/C0614,29.535645,2.593840e-03
1901,glycerol(2.5),glpFKX TFBS,29.535645,2.593840e-03
1926,glycerol(2.5),metY-rimP-nusA-infB-rbfA-truB-rpsO-pnp attenua...,29.535645,2.593840e-03
1977,glycerol(2.5),fimZ,29.535645,2.593840e-03
2027,glycerol(2.5),opgGH terminator,29.535645,2.593840e-03
2028,glycerol(2.5),yceK attenuator terminator,29.535645,2.593840e-03
2034,glycerol(2.5),yhdNp,29.535645,2.593840e-03
2035,glycerol(2.5),rpsMKD-rpoA-rplQ terminator,29.535645,2.593840e-03
2043,glycerol(2.5),glxK/allE,29.535645,2.593840e-03
466,glycerol(2.5),cyaA,26.112210,8.385766e-22
1640,glycerol(2.5),hisLGDCBHAFI attenuator terminator,25.485022,2.913909e-07
1908,glycerol(2.5),leuLABCD attenuator terminator,21.669390,4.766970e-04
1822,glycerol(2.5),crr,19.854978,3.489679e-10
121,glycerol(2.5),hnsp,9.253680,1.162671e-03

"glycine(2mM)  L-Serine(varying concentration)  trace elements(X1)  Wolfe's vitamin solution."

,condition,mutated features,odd ratio,p value
2932,glycine(2mM) L-Serine(varying concentration) ...,gcvRp,197.153846,0.000067
2960,glycine(2mM) L-Serine(varying concentration) ...,rpe,189.888889,0.006047
2964,glycine(2mM) L-Serine(varying concentration) ...,ytfBp,189.888889,0.006047
2980,glycine(2mM) L-Serine(varying concentration) ...,ybhN,189.888889,0.006047
2978,glycine(2mM) L-Serine(varying concentration) ...,cycA,189.888889,0.006047
2976,glycine(2mM) L-Serine(varying concentration) ...,rhoLp,189.888889,0.006047
2974,glycine(2mM) L-Serine(varying concentration) ...,argP,189.888889,0.006047
2972,glycine(2mM) L-Serine(varying concentration) ...,eno,189.888889,0.006047
2970,glycine(2mM) L-Serine(varying concentration) ...,frc,189.888889,0.006047
2966,glycine(2mM) L-Serine(varying concentration) ...,lrpp,189.888889,0.006047
2982,glycine(2mM) L-Serine(varying concentration) ...,lrp,189.888889,0.006047
2930,glycine(2mM) L-Serine(varying concentration) ...,aroP,189.888889,0.006047
2958,glycine(2mM) L-Serine(varying concentration) ...,gcvAp,189.888889,0.006047
2956,glycine(2mM) L-Serine(varying concentration) ...,gcvB gcvA TFBS,189.888889,0.006047
2952,glycine(2mM) L-Serine(varying concentration) ...,yojI,189.888889,0.006047
2948,glycine(2mM) L-Serine(varying concentration) ...,lamB,189.888889,0.006047
2938,glycine(2mM) L-Serine(varying concentration) ...,malT,189.888889,0.006047
2936,glycine(2mM) L-Serine(varying concentration) ...,gcvB,189.888889,0.006047
2934,glycine(2mM) L-Serine(varying concentration) ...,gshA,189.888889,0.006047
2927,glycine(2mM) L-Serine(varying concentration) ...,thrA,149.562162,0.000002

'hexamethylenediamine'

                 condition mutated features  odd ratio   p value
5093  hexamethylenediamine              lhr  22.188406  0.004498
5094  hexamethylenediamine             ppsA  22.188406  0.004498
3620  hexamethylenediamine             ybeX  14.260870  0.009965
4193  hexamethylenediamine             proV   5.149798  0.008869

'hexanoic acid'

          condition mutated features  odd ratio       p value
5314  hexanoic acid             ompR  34.081481  1.966824e-03
5434  hexanoic acid   ompC micF TFBS  34.081481  1.966824e-03
5435  hexanoic acid           ompCp2  34.081481  1.966824e-03
5436  hexanoic acid           ompCp1  34.081481  1.966824e-03
5437  hexanoic acid           ompCp3  34.081481  1.966824e-03
5453  hexanoic acid       cydAB TFBS  34.081481  1.966824e-03
5222  hexanoic acid             mdtK  27.016451  2.309120e-05
2852  hexanoic acid             rpoA  18.921123  7.751756e-11
3202  hexanoic acid             sapB  13.811780  1.628252e-03
2071  hexanoic acid       flhDC TFBS   2.603943  1.898109e-03

'isobutyric acid'

            condition mutated features  odd ratio   p value
5811  isobutyric acid  fliAZ-tcyJ TFBS  12.607389  0.000080
4354  isobutyric acid        phoE TFBS   7.206462  0.009871
68    isobutyric acid             pykF   5.382947  0.000080

'm-tartrate'

       condition mutated features  odd ratio   p value
2561  m-tartrate        mntP TFBS  30.052288  0.000195
2595  m-tartrate             pgpC  30.052288  0.000195
2562  m-tartrate         eda TFBS  29.882391  0.002536
2563  m-tartrate         zwf TFBS  29.882391  0.002536
2560  m-tartrate     edd-eda TFBS  23.648572  0.000038
2598  m-tartrate             ygbI  19.205931  0.005665

'monomethyl succinate'

                 condition mutated features   odd ratio       p value
2686  monomethyl succinate           ybfFp1  124.956640  3.217767e-06
246   monomethyl succinate             rhsE   27.975490  2.966831e-11
2091  monomethyl succinate        gltP/yjcO    6.065378  2.132402e-03

'n-butanol'

      condition mutated features  odd ratio       p value
5977  n-butanol             rrlH  23.666667  2.356417e-17
5882  n-butanol              rob  22.755952  7.634725e-09
5892  n-butanol             marC  22.659259  6.757100e-08
5883  n-butanol           creAp2  22.280932  4.596831e-04
5846  n-butanol            tqsAp  22.188406  4.498251e-03
6030  n-butanol             glmU  22.188406  4.498251e-03
6106  n-butanol        uxaB TFBS  22.188406  4.498251e-03
4361  n-butanol             manY  12.619272  2.710690e-06
2572  n-butanol             cspC   8.971062  5.348345e-03
2398  n-butanol           insH21   3.852911  1.600128e-03
2400  n-butanol           oppA5'   3.852911  1.600128e-03

'octanoic acid'

          condition mutated features  odd ratio   p value
4923  octanoic acid            litp1  28.346059  0.002687
47    octanoic acid             yfdI  15.579334  0.001158
2072  octanoic acid       flhDC TFBS   2.904481  0.001697

'propanediol'

        condition            mutated features   odd ratio   p value
6440  propanediol  lrhA attenuator terminator  256.388889  0.004539
6444  propanediol                        fabR  256.388889  0.004539
6445  propanediol                      dusAp9  256.388889  0.004539
1780  propanediol                        pdeF  121.421053  0.009058

'putrescine'

       condition mutated features  odd ratio   p value
6550  putrescine        glyV/glyX  28.696629  0.000222
6620  putrescine             murA  28.541899  0.002771
1781  putrescine             mreB  17.395455  0.000017
718   putrescine             rpsA   8.894227  0.005419
994   putrescine             spoT   5.281102  0.008144
2073  putrescine       flhDC TFBS   2.150353  0.008934

'xylose(4)'

      condition mutated features   odd ratio   p value
3562  xylose(4)             xylR  104.560091  0.000224
190   xylose(4)             rhsB   24.579060  0.000325
11    xylose(4)              rph    5.322431  0.008601

'Δgnd'

    condition                mutated features   odd ratio   p value
659      Δgnd                        pntA RBS  197.153846  0.000067
679      Δgnd                            ilvL  189.888889  0.006047
719      Δgnd                            hdhA  189.888889  0.006047
720      Δgnd                            yhjV  189.888889  0.006047
747      Δgnd                       asnB/umpH  189.888889  0.006047
141      Δgnd      ilvLXG_1G_2MEDA terminator   61.132626  0.000614
12       Δgnd                             rph   10.428375  0.000938
286      Δgnd                            rpoB    9.376758  0.001376
5        Δgnd  rph-pyrE attenuator terminator    6.545375  0.004864

'Δpgi'

     condition                mutated features  odd ratio       p value
996       Δpgi                           sthAp  20.063867  1.166671e-06
995       Δpgi                            sthA  19.914931  7.650246e-05
844       Δpgi                     marRAB TFBS  19.768303  5.611374e-03
2861      Δpgi                        trxB/lrp  19.768303  5.611374e-03
2855      Δpgi                            pntB  19.768303  5.611374e-03
2853      Δpgi                            cpxR  19.768303  5.611374e-03
2836      Δpgi                            pntA  19.768303  5.611374e-03
846       Δpgi                            ackA  19.768303  5.611374e-03
2886      Δpgi                       rrlE/rrfE  19.768303  5.611374e-03
838       Δpgi                            rapA  19.768303  5.611374e-03
689       Δpgi                           sulAp  16.351159  2.308711e-05
1127      Δpgi                          insH-6  14.475655  1.494251e-03
446       Δpgi                            yrfF  11.393244  2.844193e-03
48        Δpgi                            rpoS   9.491504  6.423249e-05
1181      Δpgi                            pstC   9.425164  1.110179e-03
1187      Δpgi                            rrfB   9.425164  1.110179e-03
780       Δpgi                            rpoD   9.392382  4.765071e-03
1184      Δpgi                            pstA   8.327398  1.716696e-03
778       Δpgi                             icd   6.880574  2.114940e-08
1823      Δpgi                             crr   6.189993  1.659449e-03
287       Δpgi                            rpoB   4.497962  2.188872e-07
13        Δpgi                             rph   4.435666  1.064271e-06
6         Δpgi  rph-pyrE attenuator terminator   3.122089  3.330044e-05

'Δpts'

    condition                mutated features   odd ratio   p value
438      Δpts                            lsrK  131.427350  0.008629
443      Δpts                           yrbNp  131.427350  0.008629
444      Δpts                            nlpI  131.427350  0.008629
467      Δpts                            cpxA  131.427350  0.008629
480      Δpts                       metK/galP  131.427350  0.008629
546      Δpts                            tdcR  131.427350  0.008629
547      Δpts                            yibV  131.427350  0.008629
537      Δpts                            araA  101.029218  0.000006
440      Δpts                            rcsB   79.516389  0.000011
477      Δpts                           glkp1   63.853186  0.000559
479      Δpts                            glkp   63.853186  0.000559
447      Δpts                            yrfF   50.539474  0.000873
14       Δpts                             rph    8.948768  0.000405
288      Δpts                            rpoB    8.045253  0.000649
7        Δpts  rph-pyrE attenuator terminator    5.613849  0.003032

'ΔsdaA ΔsdaB ΔtdcG ΔglyA'

                    condition mutated features   odd ratio   p value
2933  ΔsdaA ΔsdaB ΔtdcG ΔglyA            gcvRp  197.153846  0.000067
2961  ΔsdaA ΔsdaB ΔtdcG ΔglyA              rpe  189.888889  0.006047
2965  ΔsdaA ΔsdaB ΔtdcG ΔglyA            ytfBp  189.888889  0.006047
2981  ΔsdaA ΔsdaB ΔtdcG ΔglyA             ybhN  189.888889  0.006047
2979  ΔsdaA ΔsdaB ΔtdcG ΔglyA             cycA  189.888889  0.006047
2977  ΔsdaA ΔsdaB ΔtdcG ΔglyA            rhoLp  189.888889  0.006047
2975  ΔsdaA ΔsdaB ΔtdcG ΔglyA             argP  189.888889  0.006047
2973  ΔsdaA ΔsdaB ΔtdcG ΔglyA              eno  189.888889  0.006047
2971  ΔsdaA ΔsdaB ΔtdcG ΔglyA              frc  189.888889  0.006047
2967  ΔsdaA ΔsdaB ΔtdcG ΔglyA             lrpp  189.888889  0.006047
2983  ΔsdaA ΔsdaB ΔtdcG ΔglyA              lrp  189.888889  0.006047
2931  ΔsdaA ΔsdaB ΔtdcG ΔglyA             aroP  189.888889  0.006047
2959  ΔsdaA ΔsdaB ΔtdcG ΔglyA            gcvAp  189.888889  0.006047
2957  ΔsdaA ΔsdaB ΔtdcG ΔglyA   gcvB gcvA TFBS  189.888889  0.006047
2953  ΔsdaA ΔsdaB ΔtdcG ΔglyA             yojI  189.888889  0.006047
2949  ΔsdaA ΔsdaB ΔtdcG ΔglyA             lamB  189.888889  0.006047
2939  ΔsdaA ΔsdaB ΔtdcG ΔglyA             malT  189.888889  0.006047
2937  ΔsdaA ΔsdaB ΔtdcG ΔglyA             gcvB  189.888889  0.006047
2935  ΔsdaA ΔsdaB ΔtdcG ΔglyA             gshA  189.888889  0.006047
2928  ΔsdaA ΔsdaB ΔtdcG ΔglyA             thrA  149.562162  0.000002

'Δsdh'

     condition                mutated features   odd ratio       p value
1386      Δsdh                            sucA  269.713450  4.220768e-09
1359      Δsdh                           cysDp  244.121693  4.483692e-05
1356      Δsdh                            gltA  233.070707  4.969847e-03
1357      Δsdh                           b0725  233.070707  4.969847e-03
1358      Δsdh                            sucB  233.070707  4.969847e-03
604       Δsdh                            glnD  156.901361  1.023423e-04
15        Δsdh                             rph   13.174134  4.317099e-04
289       Δsdh                            rpoB   11.845631  6.378570e-04
8         Δsdh  rph-pyrE attenuator terminator    8.268761  2.321388e-03

'Δtpi'

     condition mutated features  odd ratio       p value
1510      Δtpi             phoB  82.594982  1.051526e-05
1553      Δtpi             nagE  82.594982  1.051526e-05
1511      Δtpi             phoR  81.299824  3.646205e-04
1160      Δtpi             ptsG  65.672131  7.838785e-07
1198      Δtpi             nemR  60.258936  2.533275e-05
1182      Δtpi             pstC  39.723037  5.215447e-06
1188      Δtpi             rrfB  39.723037  5.215447e-06
1185      Δtpi             pstA  35.096454  8.337603e-06
545       Δtpi             galR  30.467593  2.287736e-03
18        Δtpi             nagA  16.604257  7.213904e-03
779       Δtpi              icd   7.203499  2.949203e-03
16        Δtpi              rph   5.217241  3.682457e-03
290       Δtpi             rpoB   4.690476  5.693254e-03