In [1]:
import pandas as pd

In [4]:
pathway_df = pd.read_csv("./data/pathways/511145.12.PATRIC.pathway.tab", sep="\t")
pathway_df.head()

,genome_id,genome_name,patric_id,refseq_locus_tag,alt_locus_tag,gene,product,ec_number,ec_description,pathway_id,pathway_name
0,511145.12,Escherichia coli str. K-12 substr. MG1655,fig|511145.12.peg.1,b0002,VBIEscCol129921_0001,thrA,Aspartokinase (EC 2.7.2.4) / Homoserine dehydr...,1.1.1.3,Homoserine dehydrogenase,260,"Glycine, serine and threonine metabolism"
1,511145.12,Escherichia coli str. K-12 substr. MG1655,fig|511145.12.peg.1,b0002,VBIEscCol129921_0001,thrA,Aspartokinase (EC 2.7.2.4) / Homoserine dehydr...,1.1.1.3,Homoserine dehydrogenase,270,Cysteine and methionine metabolism
2,511145.12,Escherichia coli str. K-12 substr. MG1655,fig|511145.12.peg.1,b0002,VBIEscCol129921_0001,thrA,Aspartokinase (EC 2.7.2.4) / Homoserine dehydr...,1.1.1.3,Homoserine dehydrogenase,300,Lysine biosynthesis
3,511145.12,Escherichia coli str. K-12 substr. MG1655,fig|511145.12.peg.1,b0002,VBIEscCol129921_0001,thrA,Aspartokinase (EC 2.7.2.4) / Homoserine dehydr...,2.7.2.4,Aspartate kinase,260,"Glycine, serine and threonine metabolism"
4,511145.12,Escherichia coli str. K-12 substr. MG1655,fig|511145.12.peg.1,b0002,VBIEscCol129921_0001,thrA,Aspartokinase (EC 2.7.2.4) / Homoserine dehydr...,2.7.2.4,Aspartate kinase,270,Cysteine and methionine metabolism

In [3]:
def _get_pathways(bnum):
    return set(pathway_df[pathway_df["refseq_locus_tag"]==bnum]["pathway_name"])

all_gene_df = pd.read_csv("./data/y_ome/S1 y-ome Genes.tsv", sep='\t', header=0)
all_gene_df["pathway"] = all_gene_df.apply(lambda g: _get_pathways(g["locus_tag"]), axis=1)

all_gene_df

,locus_tag,primary_name,yome,pathway
0,b0001,thrL,no,{}
1,b0002,thrA,no,"{Glycine, serine and threonine metabolism, Lys..."
2,b0003,thrB,no,"{Glycine, serine and threonine metabolism}"
3,b0004,thrC,no,"{Vitamin B6 metabolism, Glycine, serine and th..."
4,b0005,yaaX,yes,{}
...,...,...,...,...
4618,b4753,yqfH,yes,{}
4619,b4754,yqfI,yes,{}
4620,b4755,yqhI,yes,{}
4621,b4756,yqiD,yes,{}
4622,b4757,ysdD,yes,{}

In [6]:
all_gene_df[all_gene_df["pathway"]!=set()]

,locus_tag,primary_name,yome,pathway
1,b0002,thrA,no,"{Glycine, serine and threonine metabolism, Lys..."
2,b0003,thrB,no,"{Glycine, serine and threonine metabolism}"
3,b0004,thrC,no,"{Vitamin B6 metabolism, Glycine, serine and th..."
7,b0008,talB,no,{Pentose phosphate pathway}
24,b0025,ribF,no,{Riboflavin metabolism}
...,...,...,...,...
4370,b4493,"gapC, gapC'",excluded,{Glycolysis / Gluconeogenesis}
4391,b4515,cydX,no,{Betalain biosynthesis}
4395,b4519,"icdC, icdC'",excluded,"{Citrate cycle (TCA cycle), Glutathione metabo..."
4428,b4556,"ysdC, glvG', glvG",excluded,{Starch and sucrose metabolism}
4459,b4592,"appX, cbdX",yes,{Betalain biosynthesis}

In [7]:
len(all_gene_df[all_gene_df["pathway"]!=set()])/len(all_gene_df)

0.1890547263681592

In [9]:
# Get y-ome genes
y_ome_gene_df = all_gene_df[all_gene_df.yome=="yes"].copy()
y_ome_gene_df

     locus_tag primary_name yome pathway
4        b0005         yaaX  yes      {}
5        b0006         yaaA  yes      {}
6        b0007         yaaJ  yes      {}
10       b0011         yaaW  yes      {}
11       b0012         mbiA  yes      {}
...        ...          ...  ...     ...
4618     b4753         yqfH  yes      {}
4619     b4754         yqfI  yes      {}
4620     b4755         yqhI  yes      {}
4621     b4756         yqiD  yes      {}
4622     b4757         ysdD  yes      {}

[1600 rows x 4 columns]

In [11]:
display(
    len(y_ome_gene_df[y_ome_gene_df["pathway"]!=set()]),
    y_ome_gene_df[y_ome_gene_df["pathway"]!=set()].head()
)

50

,locus_tag,primary_name,yome,pathway
212,b0213,yafS,yes,"{Phenylpropanoid biosynthesis, Phenylalanine m..."
233,b0234,yafP,yes,"{Lysine degradation, Phenylalanine metabolism,..."
270,b0271,yagH,yes,"{Starch and sucrose metabolism, Amino sugar an..."
302,b0304,rclA,yes,"{Citrate cycle (TCA cycle), Glycine, serine an..."
511,b0521,"ybcF, arcC",yes,"{Nitrogen metabolism, Arginine and proline met..."

In [14]:
len(y_ome_gene_df[y_ome_gene_df["pathway"]!=set()])/len(all_gene_df)

0.010815487778498811

In [13]:
len(y_ome_gene_df[y_ome_gene_df["pathway"]!=set()])/len(all_gene_df[all_gene_df["pathway"]!=set()])

0.057208237986270026