In [1]:
import pandas as pd
all_AVA_muts = pd.read_pickle("./data/4_7_df.pkl")
all_AVA_muts

,index,Details,mutation target annotation,Mutation Type,Position,Reference Seq,Sequence Change,ale,exp,flask,...,temperature,carbon-source,supplement,strain-description,taxonomy-id,base-media,nitrogen-source,phosphorous-source,sulfur-source,calcium-source
0,2,R110G (CGT→GGT),clsA,SNP,1308318,NaN,G→C,1,42C,124,...,42 celsius,glucose(4),NaCl(0.5g/L) trace elements,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
1,6,None,rph,DEL,3815859,NaN,Δ82 bp,1,42C,124,...,42 celsius,glucose(4),NaCl(0.5g/L) trace elements,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
2,7,A734V (GCG→GTG),rpoC,SNP,4187550,NaN,C→T,1,42C,124,...,42 celsius,glucose(4),NaCl(0.5g/L) trace elements,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
3,8,D9A (GAT→GCT),hfq,SNP,4400313,NaN,A→C,1,42C,124,...,42 celsius,glucose(4),NaCl(0.5g/L) trace elements,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
4,0,coding (380‑400/1149 nt),nagA,DEL,702352,NaN,Δ21 bp,1,42C,124,...,42 celsius,glucose(4),NaCl(0.5g/L) trace elements,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2636,30,L157* (TTA→TGA),rpsG,SNP,3473612,NC_000913,A→C,7,TOL_putrescine,50,...,37 celsius,glucose(2),putrescine,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
2637,34,intergenic (‑2/+1),glpR/glpR,INS,3560455,NC_000913,+G,7,TOL_putrescine,50,...,37 celsius,glucose(2),putrescine,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
2638,21,intergenic (‑40/+26),pyrE/rph,DEL,3815808,NC_000913,(A)8→7,7,TOL_putrescine,50,...,37 celsius,glucose(2),putrescine,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
2639,24,R471H (CGT→CAT),spoT,SNP,3823811,NC_000913,G→A,7,TOL_putrescine,50,...,37 celsius,glucose(2),putrescine,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)
2640,25,intergenic (+587/+55),gltP/yjcO,INS,4296381,NC_000913,+GC,7,TOL_putrescine,50,...,37 celsius,glucose(2),putrescine,WT,511145,M9,NH4Cl(1),KH2PO4(3) Na2HPO4(6.8),MgSO4(0.24),CaCl2(0.1)

In [2]:
# Get y-ome genes
gene_df = pd.read_csv("./data/y_ome/S1 y-ome Genes.tsv", sep='\t', header=0)
y_ome_gene_df = gene_df[gene_df.yome=="yes"]
y_ome_gene_df

     locus_tag primary_name yome
4        b0005         yaaX  yes
5        b0006         yaaA  yes
6        b0007         yaaJ  yes
10       b0011         yaaW  yes
11       b0012         mbiA  yes
...        ...          ...  ...
4618     b4753         yqfH  yes
4619     b4754         yqfI  yes
4620     b4755         yqhI  yes
4621     b4756         yqiD  yes
4622     b4757         ysdD  yes

[1600 rows x 3 columns]

In [3]:
gene_synonym_df = pd.read_pickle("./data/gene_synonym_df.pkl")
from util.gene import get_gene_bnum

In [4]:
y_ome_gene_df[y_ome_gene_df["locus_tag"]=='']

Empty DataFrame
Columns: [locus_tag, primary_name, yome]
Index: []

In [5]:
# Get mutations to y-ome genes
y_ome_muts = pd.DataFrame()
for _, m in all_AVA_muts.iterrows():
    for f in m["genetic features"]:
        bnum = ''
        if f["feature type"] == "gene":
            bnum = get_gene_bnum(f["RegulonDB ID"], gene_synonym_df)
        if bnum in set(y_ome_gene_df["locus_tag"]):
            y_ome_muts = y_ome_muts.append(m, ignore_index=True)
            break

y_ome_muts.to_pickle("./data/y_ome_muts.pkl")
y_ome_muts

,COG links,COGs,Details,Mutation Type,Position,RBS,Reference Seq,Sequence Change,TFBS,ale,...,range,regulator links,regulators,strain-description,sulfur-source,supplement,taxonomy-id,tech_rep,temperature,terminator
0,{},[],F4L (TTT→CTT),SNP,1119438.0,{},NaN,A→G,{},2.0,...,"(1119438, 1119438)",{},[],WT,MgSO4(0.24),NaCl(0.5g/L) trace elements,511145,1.0,42 celsius,{}
1,{'Carbohydrate transport and metabolism': ['EC...,[{'name': 'Carbohydrate transport and metaboli...,A80G (GCC→GGC),SNP,2359914.0,{},NaN,G→C,{},2.0,...,"(2359914, 2359914)",{},[],WT,MgSO4(0.24),NaCl(0.5g/L) trace elements,511145,1.0,42 celsius,{}
2,{},[],coding (251/765 nt),DEL,3361426.0,{},NaN,Δ1 bp,{},2.0,...,"(3361426, 3361426)","{'AdiY': ['gltBDF'], 'Fur': ['gltBDF'], 'ArgR'...","[{'name': 'AdiY', 'significantly associated co...",WT,MgSO4(0.24),NaCl(0.5g/L) trace elements,511145,1.0,42 celsius,{}
3,"{'Intracellular trafficking, secretion, and ve...","[{'name': 'Intracellular trafficking, secretio...",IS1‑mediated,DEL,3582206.0,{},NaN,"Δ1,222 bp",{},2.0,...,"(3582206, 3583427)",{},[],WT,MgSO4(0.24),NaCl(0.5g/L) trace elements,511145,1.0,42 celsius,{}
4,{'Transcription': ['ECK120028135']},[{'name': 'Transcription'}],coding (391/789 nt),DEL,4525413.0,{},NaN,(T)6→5,{},2.0,...,"(4525413, 4525413)",{},[],WT,MgSO4(0.24),NaCl(0.5g/L) trace elements,511145,1.0,42 celsius,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,{},[],coding (141‑144/144 nt),MOB,1907448.0,{},NC_000913,IS5 (–) +4 bp,{},5.0,...,"(1907448, 1907448)",{},[],WT,MgSO4(0.24),putrescine,511145,1.0,37 celsius,{}
301,{'Carbohydrate transport and metabolism': ['EC...,[{'name': 'Carbohydrate transport and metaboli...,T49P (ACC→CCC),SNP,3899249.0,{},NC_000913,T→G,{},5.0,...,"(3899249, 3899249)",{},[],WT,MgSO4(0.24),putrescine,511145,1.0,37 celsius,{}
302,{},[],R106G (AGA→GGA),SNP,4282760.0,{},NC_000913,T→C,{},5.0,...,"(4282760, 4282760)",{},[],WT,MgSO4(0.24),putrescine,511145,1.0,37 celsius,{}
303,{'Amino acid transport and metabolism': ['ECK1...,[{'name': 'Amino acid transport and metabolism...,coding (28‑30/87 nt),DEL,83679.0,{},NC_000913,(TAG)4→3,{},7.0,...,"(83679, 83679)","{'LeuO': ['leuLABCD', 'leuLABCD']}","[{'name': 'LeuO', 'significantly associated co...",WT,MgSO4(0.24),putrescine,511145,1.0,37 celsius,{}
304,{'Cell motility': ['ECK120029061']},[{'name': 'Cell motility'}],F111S (TTC→TCC),SNP,562667.0,{},NC_000913,T→C,{},7.0,...,"(562667, 562667)",{},[],WT,MgSO4(0.24),putrescine,511145,1.0,37 celsius,{}

In [10]:
tot_mut_gene_instances = list()  # not just unique genes
y_ome_mut_genes_instances = list()
for _, m in all_AVA_muts.iterrows():
    for f in m["genetic features"]:
        bnum = ''
        if f["feature type"] == "gene":
            bnum = get_gene_bnum(f["RegulonDB ID"], gene_synonym_df)
            tot_mut_gene_instances.append(bnum)
        if bnum in set(y_ome_gene_df["locus_tag"]):
            y_ome_mut_genes_instances.append(bnum)
            
display(len(y_ome_mut_genes_instances), len(tot_mut_gene_instances), len(y_ome_mut_genes_instances)/len(tot_mut_gene_instances))

468

3029

0.15450643776824036